.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #282c34;
}
    
#text{
  font-size: calc(20px);
  font-family:"rockwell"; 
}

#headline{
  font-family: "rockwell";
  font-size: calc(100px + 2vmin);
}

#diiv{
  position: absolute;
  top: 0%;
  text-align: center;
  left: 0%;
}

#content{ 
  margin-left: 200px;
  margin-right: 200px;
  color:grey;
}

#new{
  margin-left: 200px;
  margin-right: 200px;
  color:black;
}

